.image-container {
  max-width: 100%; /* Limitez la largeur de la div parent à 100% */
  overflow: hidden; /* Masquez tout contenu dépassant la div parent */

  /* Ajoutez d'autres styles de votre div parent ici */
}

canvas {
  max-width: 100%; /* Assurez-vous que le canvas occupe toute la largeur de la div parent */
  height: auto; /* Ajustez la hauteur automatiquement pour conserver le ratio */
  display: block; /* Ajustez le comportement d'affichage du canvas */
}

/* Ajoutez d'autres styles CSS pour le canvas si nécessaire */
