.navLink {
  list-style: none;
}

.navMenu a {
  color: #000000;
  text-decoration: none;
}

.navMenu a:hover {
  color: #1976d2;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.active a {
  color: #1976d2;
  border-bottom: 2px solid #1976d2; 
  padding-bottom: 4px; 
  transition: color 0.3s, border-bottom 0.3s; 
}

.active a:hover {
  color: #135a8f; 
  border-bottom-color: #135a8f;
}
