* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
}

.App {
  background: #fefefe;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
}

.ButtonCam {
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

/* .IndexInterface {
  text-align: center;
  align-items: center;
} */

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.footer {
  width: 100%;
  flex-shrink: 0;
  /* text-align: center; */
  height: "3rem";
}
.content {
  flex: 1 0 auto;
}
.WebcamScreen {
  max-width: 800px;
}

@media only screen and (max-device-width: 500px) {
  .WebcamScreen {
    width: 100%;
    max-height: 80vh;
  }
  .webcamCapture {
    position: fixed;
    /* height: 500px;;
        width:500px;  */
  }
  body {
    height: 100%;
  }
}
